<div class="works-wrapper">
  <section class="works">
  <% @themes.each do |theme| %>
    <%= link_to theme_works_path(theme.id), class: "work" do %>
      <%= image_tag theme.cover_image, class: "hovering-image" if theme.cover_image.present? %>
      <p class="written-by">
        <%= theme.made_by %>
      </p>
      <h2 class="text-center"><%= theme.title %></h2>
      <p class="theme-description">
        <%= theme.description %>
      </p>
      
    <% end %>
  <% end %>
  </section>
</div> 
