<%= tinymce_assets %>
<%= tinymce %>

<%= form_for @pages do |f| %>
  <div class="form-field">
    <%= f.text_field :om_title %><br>
    <%= f.text_area :om_text, class: "tiny-mce" %>
  </div>

  <div class="form-field">
    <%= f.text_field :om_title %><br>
    <%= f.text_area :om_text, class: "tiny-mce" %>
  </div>

  <div class="form-field">
    <%= f.text_field :om_title %><br>
    <%= f.text_area :om_text, class: "tiny-mce" %>
  </div>
  <hr> 
  <%= f.submit "Gem sider", class: "bg-button" %>
<% end %>

<script type="text/javascript">
  tinymce.init({
    selector: ".tiny-mce",
    plugins: ["paste", "link"]
  })
</script>
