<%= form_for @theme do |f| %>
  <%= image_tag @theme.cover_image.thumb.url, class: "bg_thumb_show" if @theme.cover_image? %>
  <hr>
  <%= f.label :cover_image, "Upload nyt billede" %>
  <%= f.file_field :cover_image %>

  <h3> <%= f.label :title %> </h3>
  <%= f.text_field :title, autofocus: true %>
  <hr>
  <h3> <%= f.label :description %> </h3>
  <%= f.text_area :description %>
  <hr>
  <%= f.submit title_text, class: "bg-button" %>
<% end %>
