<%= tinymce_assets %>
<%= tinymce %>

<div class="backend-form">
  <%= form_for @theme do |f| %>

    <%= image_tag @theme.cover_image.thumb.url, class: "bg_thumb_show" if @theme.cover_image? %>
    <div class="form-field">
      <%= f.label :cover_image, "Upload nyt billede" %>
      <%= f.file_field :cover_image %>
    </div>

    <div class="form-field">
      <h3> <%= f.label :title %> </h3>
      <%= f.text_field :title, autofocus: true %>
    </div>
    <div class="form-field">
      <h3><%= f.label :made_by, "Hvem har lavet det? (Står med orange tekst under titlen)" %></h3>
      <%= f.text_field :made_by %>
    </div>
    <div class="form-field">
      <h3 class="text-center"> <%= f.label :description, "Indlæg" %> </h3>
      <%= f.text_area :description, class: "tinymce" %>
    </div>
    <hr>
    <%= f.submit title_text, class: "bg-button no-margin-x" %>
  <% end %>
</div>
