<%= tinymce_assets %>
<%= tinymce %>

<div class="backend-form">
<%= form_for [@theme, @work] do |f| %>
  <%= f.hidden_field :theme_id, value: @theme.id %>
  <h3>Vælg kategori:</h3>
  <div class="form-field">
    <%= f.label :category, "Læs" %>
    <%= f.radio_button :category, :laes, checked: true %>
    <%= f.label :category,"Se" %>
    <%= f.radio_button :category, :se %>
    <%= f.label :category,"Hør" %>
    <%= f.radio_button :category, :hoer %>
  </div>

    <h3>Tilføj medie</h3>
  <div class="form-field half float-left">
    <h4>Vimeo video</h4>
    <%= f.label :youtube_url, "Indsæt vimeo url (kun src)" %>
    <%= f.text_field :youtube_url %>
    <div>
      <div class="half float-left">Vis i toppen: <%= f.check_box :youtube_in_top %></div>
      <div class="half float-left">Vis i bunden: <%= f.check_box :youtube_in_bottom %></div>
    </div>
  </div>

  <div class="form-field half float-left">
    <h4>Soundcloud lydklip</h4>
    <%= f.label :soundcloud_url, "Soundcloud embed URL (kun src)" %>
    <%= f.text_field :soundcloud_url %>
    <div>
      <div class="half float-left">Vis i toppen: <%= f.check_box :soundcloud_in_top %></div>
      <div class="half float-left">Vis i bunden: <%= f.check_box :soundcloud_in_bottom %></div>
    </div>
    <div class="small">Se mere: <a href="https://soundcloud.com/pages/embed" target="_blank">her</a></div>
  </div>

  <hr class="clearfix">
  <div class="form-field form-wrapper">
    <h3>Shared info</h3>
    <div class="form-field half float-left">
      <p>
        Billedet, som bliver vist, når man deler dette content på Facebook. Anbefalet størrelse 1200x630px - 
        <a href="https://developers.facebook.com/docs/sharing/best-practices#images" target="_blank">Læs mere</a>
      <p>
      <%= image_tag @work.share_image.thumb.url, class: "bg_thumb_show" if @work.share_image.present? %><br>
      <%= f.label :share_image, "Vælg billede:" %><br>
      <%= f.file_field :share_image %>
    </div>
    <div class="form-field half float-left">
      <p>Hvis den ikke bliver udfyldt, står den tom, når folk deler content</p>
      <%= f.label :share_description, "Beskrivelsen, der står, når man deler dette content" %><br>
      <%= f.text_area :share_description, rows: 10, cols: 40 %>
    </div>
  </div>
  <hr class="clearfix">
  <div class="form-field form-wrapper">

    <div class="form-field half float-left">
      <h3>Main photo</h3>
      <%= image_tag @work.cover_image.thumb.url, class: "bg_thumb_show" if @work.cover_image? %><br>
      <%= f.label :cover_image, "Vælg billede:" %><br>
      <%= f.file_field :cover_image %>
    </div>

    <div class="form-field half float-left">
      <h3>Credits</h3>
      <span class="small">
        Husk at starte med noget og et ':', så koden kan genkende "Lavet af:" f.eks. og derefter 'breake' til næste linje
      </span>
      <% @credits.each do |c| %>
          <%= f.text_field :credits, value: c, multiple: true %> 
        <% end %>
    </div>
  </div>

  <div class=" form-field form-wrapper">
    <div class="form-field half float-left">
      <h3> <%= f.label :type_of_content, "Type:" %> </h3>
      <%= f.text_field :type_of_content %>
    </div>
    <div class="form-field half float-left">
      <h3> <%= f.label :title, "Titel", class: "bg-label" %><span class="small"> * Skal udfyldes!</span></h3>
      <%= f.text_field :title %>
    </div>
  </div>

  <hr class="clearfix">

  <div class="form-field">
    <h3> <%= f.label :desciption, "Tekst", class: "bg-label" %> </h3>
    <div class="text-center small">HUSK AT OPTIMERE OG BESKÆRE BILLEDER - MAX 800 PX I BREDDE</div>
    <%= f.text_area :description, class: "tinymce", rows: 40, cols: 20 %>
  </div>

  <hr>
    <h3>Kilder</h3>
    <p class="text-center">Kilder skal først gemmes, før deres ID bliver vist. Brug knappen "Gem kilder" nederst på siden.</p>
  <div class="form-field" id="sources">
    <%= f.fields_for :sources do |source| %>
      <%= render 'source_fields', f: source %>
    <% end %>
    <hr class="clearfix">
    <%= link_to_add_association 'Tilføj kilde', f, :sources, class: "add-source" %>
  </div>
  <hr>
  <h3>To Do's</h3>
    <p class="text-center">Opret To Do's, som bliver vist samlet under et tema.</p>
  <div class="form-field" id="toDos">
    <%= f.fields_for :to_dos do |to_do| %>
      <%= render 'to_do_fields', f: to_do %>
    <% end %>
    <%= link_to_add_association 'Tilføj To do', f, :to_dos, class: "add-to-do" %>
  </div>
  <hr>
  <%= f.submit "Gem kilder", class: "bg-button" %>
  <%= f.submit "Opdater", class: "bg-button" %>
<% end %>
  <script type="text/javascript">
    tinymce.init({
      selector: "#tiny",
      plugins: ["paste", "link"]
    })
  </script>
