<%= tinymce_assets %>
<%= tinymce %>

<div class="backend-form">
<%= form_for [@theme, @work] do |f| %>
  <%= f.hidden_field :theme_id, value: @theme.id %>
  <h3>Vælg kategori:</h3>
  <div class="form-field">
    <%= f.label :category, "Læs" %>
    <%= f.radio_button :category, :laes, checked: true %>
    <%= f.label :category,"Se" %>
    <%= f.radio_button :category, :se %>
    <%= f.label :category,"Hør" %>
    <%= f.radio_button :category, :hoer %>
  </div>

  <hr>
  <div class="form-field">
    <%= image_tag @work.cover_image.thumb.url, class: "bg_thumb_show" if @work.cover_image? %><br>
    <%= f.label :cover_image, "Vælg billeder:" %><br>
    <%= f.file_field :cover_image %>
  </div>

  <div class="form-field">
    <h3> <%= f.label :type_of_content, "Type:" %> </h3>
    <%= f.text_field :type_of_content %>
  </div>

  <div class="form-field">
    <h3> <%= f.label :title, "Titel", class: "bg-label" %> </h3>
    <%= f.text_field :title %>
  </div>

  <div class="form-field">
    <h3> <%= f.label :created_by, "Lavet af:", class: "bg-label" %> </h3>
    <%= f.text_field :created_by %>
  </div>

  <div class="form-field">
    <h3> <%= f.label :photo_by, "Fotograferet af:", class: "bg-label" %> </h3>
    <%= f.text_field :photo_by %>
  </div>

  <div class="form-field">
    <h3> <%= f.label :desciption, "Tekst", class: "bg-label" %> </h3>
    <%= f.text_area :description, class: "tinymce", rows: 40, cols: 20 %>
  </div>

  <hr>
  <%= f.submit "Opdater", class: "bg-button" %>
<% end %>
  <script type="text/javascript">
    tinymce.init({
      selector: "#tiny",
      plugins: ["paste", "link"]
    })
  </script>
