<%= form_for [@theme, @work] do |f| %>
  <%= f.hidden_field :theme_id, value: @theme.id %>
  <h3>Vælg kategori:</h3>
  <div class="form-field">
    <%= f.label :category, "Læs" %>
    <%= f.radio_button :category, :laes, checked: true %>
    <%= f.label :category,"Se" %>
    <%= f.radio_button :category, :se %>
    <%= f.label :category,"Hør" %>
    <%= f.radio_button :category, :hoer %>
  </div>

  <hr>
  <div class="form-field">
    <% if @theme.cover_image %>
      <%= image_tag @theme.cover_image.thumb.url %>
    <% end %><br>
    <%= f.label :cover_image, "Vælg billeder:" %><br>
    <%= f.file_field :cover_image %>
  </div>

  <div class="form-field">
    <h3> <%= f.label :type_of_content, "Type:" %> </h3>
    <%= f.text_field :type_of_content %>
  </div>

  <div class="form-field">
    <h3> <%= f.label :title, "Titel", class: "bg-label" %> </h3>
    <%= f.text_field :title %>
  </div>

  <div class="form-field">
    <h3> <%= f.label :desciption, "Tekst", class: "bg-label" %> </h3>
    <%= f.text_area :description, id: "tiny" %>
  </div>

  <hr>
  <%= f.submit "Opdater", class: "bg-button" %>
<% end %>
  <script type="text/javascript">
    tinymce.init({
      selector: "#tiny",
      plugins: ["paste", "link"]
    })
  </script>
