<div class="nested-fields">
  <div class="form-field text-center">
    <div class="small textcenter">Kildens ID (skal bruges i teksten)</div>
    <%= f.object.id if f.object.id.present? %>
  </div>
  <hr>
  <div class="form-field">
    <%= image_tag f.object.image.thumb.url if f.object.image.thumb.url.present? %><br>
    <%= f.label :image, "Tilføj billede" %>
    <%= f.file_field :image %>
  </div>
  <div class="form-field">
    <%= f.label :title, "Titel" %>
    <%= f.text_field :title %>
  </div>
  <div class="form-field">
    <%= f.label :description, "Beskrivelse" %><br>
    <%= f.text_area :description, class: "source-desc" %>
  </div>
  <div class="form-field">
    <%= f.label :link, "Link" %><br>
    <%= f.text_field :link %>
  </div>
  <%= link_to_remove_association "Fjern kilde", f, class: "bg-button alert sm" %>
  
</div>
