<div class="menu-wrapper" data-slide="open">
  <%= link_to "Tema", themes_path(), class: "menu-box white-orange" %>
  <%= link_to "Læs", laes_path(), class: "menu-box white-orange" %>
  <%= link_to "Se", se_path(), class: "menu-box white-orange" %>
  <%= link_to "Hør", hoer_path(), class: "menu-box white-orange" %>
  <%= link_to "Om", om_path(), class: "menu-box black-blue" %>
  <%= link_to "Bidrag", bidrag_path(), class: "menu-box black-blue" %>
</div><!-- menu-wrapper -->
