<div class="menu-wrapper hide-it <%= 'for-js-show-menu-on-root' if current_page?('/') %>" id="menuWrapper" data-slide="open">
  <%= link_to "Tema", themes_path(), class: "menu-box white-orange" %>
  <%= link_to "Læs", works_category_path("laes"), class: "menu-box white-orange" %>
  <%= link_to "Se", works_category_path("se"), class: "menu-box white-orange" %>
  <%= link_to "Hør", works_category_path("hoer"), class: "menu-box white-orange" %>
  <%= link_to "Om", om_path(), class: "menu-box black-blue" %>
  <%= link_to "Bidrag", bidrag_path(), class: "menu-box black-blue" %>
  <a href="#" id="searchButton" data-openpage="searchPage" data-btn="searchButton" class="menu-box black-blue only-on-mobile">Søg</a>
  <div class="so-me-menu">
    <a href="https://www.facebook.com/papercutissues/" class="cirkel" target="_blank">Facebook</a>
  </div>
</div><!-- menu-wrapper -->
