<div class="themes-wrapper">
  <section class="themes">
    <%= link_to theme_works_path(@theme.id), id: "box#{@theme.id}", class: "theme", data: {id: @theme.id} do %>
      <%= image_tag @theme.cover_image, class: "hovering-image", data: {size: "image", div: @theme.id} if @theme.cover_image.present? %>
      <%= image_tag "", data: {size: "image", div: @theme.id} unless @theme.cover_image.present? %><!-- without an image -->
      <h2 class="text-center"><%= @theme.title %></h2>
      <p class="theme-description">
        <%= @theme.description %>
      </p>
      
    <% end %>
  </section>
</div> 

