<h1 class="text-center">BACKEND</h1>
<div class="ba-theme-wrapper">
  <h2>
    Temaer:
    <%= link_to "Se nyheder", news_index_path(), class: "bg-button right" %>
    <%= link_to "Opret nyt tema", new_theme_path(), class: "bg-button right" %>
  </h2>
  <hr>
    <ul>
  <% @themes.each_with_index do |theme, i| %>
    <li class="bq-each-theme">
      Nr: <%= i + 1 %>  <h3><%= theme.title %><div class="right small">Content count: <%= theme.works.size %></h3>
      <p>Last edited: <%= time_ago_in_words(theme.updated_at) %> ago</p>
      <div> <%= link_to "Se og opret Content", ba_show_works_path(theme.id), class: "bg-button" %> </div>
      <div> <%= link_to "Rediger tema", edit_theme_path(theme.id), class: "bg-button" %> </div>
      <div> <%= link_to "Slet Tema", theme_path(theme.id), method: :delete, class: "bg-button bg-alert", data: {confirm: "ER DU SIKKER PÅ, AT DU VIL GØRE DET HER? Dette sletter også alt content under dette tema. Det er IKKE muligt at gøre om."} %> </div>
    </li>
    <hr>
  <% end %>
</div>

<hr>
<h2>Sider</h2>
<%= link_to "Opret sider", new_page_path(), class: "bg-button right" unless @page.present? %>
<%= link_to "Rediger sider", edit_page_path(@page.id), class: "bg-button right"  if @page.present? %>
<hr>

