<!DOCTYPE html>
<html>
  <head>
    <!-- Hvis man ikke er logget ind og det er online, så track -->
    <%= render partial: 'shared/google_analytics' if !user_signed_in? && Rails.env.production? %>
    <title>Papercut</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <span class="firework"></span>
    <span class="star"></span>
    <%= render partial: 'shared/cookie_message' if cookies.nil? || (!cookies[:accepted_cookies] && !user_signed_in?) %>
    <%= render partial: 'shared/flash_notice',
      locals: {messages: flash[:notice]} unless flash[:notice].nil? %>
    <%= render partial: 'shared/top_navbar' %>
    <div class="container main-content-layout">
      <%= render partial: 'shared/menu' %>
    </div>
    <%= render partial: 'search/search_page' %>
    <div class="container-content">
      <%= yield %>
    </div>
    <% if user_signed_in? %>
      <div class="logged-in text-center">
        <div class="small">Du er logget ind. Husk at logge ud.</div>
        <%= link_to "Log ud", destroy_user_session_path(), method: :delete if user_signed_in? %> | <%= link_to "Backend", backend_path() %>
      </div>
    <% end %>
    <%= render partial: 'shared/newsline', locals: {news: params[:news_line] } unless params[:news_line].nil? %>
  </body>
</html>

