<!DOCTYPE html>
<html>
  <head>
    <title>Papercut</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Tema", themes_path() %>
    <%= link_to "Om", om_path() %>
    <%= link_to "Bidrag", bidrag_path() %>

    <%= yield %>
  </body>
</html>
