<!DOCTYPE html>
<html>
  <head>
    <title>Papercut</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <span class="firework"></span>
    <span class="star"></span>
    <%= link_to "Backend!", backend_path(), class: "bg-button backend-button" %>
    <%= render partial: 'shared/flash_notice',
      locals: {messages: flash[:notice]} unless flash[:notice].nil? %>
    <%= render partial: 'shared/top_navbar' %>
    <div class="container">
      <%= render partial: 'shared/menu' %>
    </div>
    <%= render partial: 'search/search_page' %>
    <div class="container-content">
      <%= yield %>
    </div>
    <%= render partial: 'shared/newsline', locals: {news: params[:news_line] } unless params[:news_line].nil? %>
  </body>
</html>

